/* Carousel container */
/* Notification Header Styles */
.notification_header {
    background-color: blue;
    display: flex;
    align-items: center; /* Centers text vertically */
    justify-content: center; /* Centers text horizontally */
    height: 36px; /* Height of the box */
    color: white; /* Text color */
    position: sticky; /* Sticks to the top while scrolling */
    top: 0; /* Ensures it stays at the very top */
    z-index: 1000; /* Ensures it appears above other content */
    padding: 10px 0px; /* Adds some horizontal padding */
    text-align: center; /* Centers text*/
    height: 100%;
}

  
  /* Carousel content */
  .carousel_content p {
    font-size: 1.2rem; /* Increase font size */
    font-weight: bold; /* Make text bold */
    margin: 0; /* Remove default margins */
  }